html,
body{
    padding: 0;
    margin: 0;
    scrollbar-width: none;
    -ms-overflow-style: none;

}

html::-webkit-scrollbar, body::-webkit-scrollbar {
    display: none
}


.scrollHost {
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.scrollHost::-webkit-scrollbar {
    display: none
}